@import 'carbon-components-svelte/css/all.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--c-blue: rgb(15 98 254 / 1);
	--c-white: rgb(255 255 255);
}

.custom-toast {
	--toastContainerTop: auto;
	--toastContainerRight: auto;
	--toastContainerBottom: 5vmin;
	--toastContainerLeft: calc(50vw - 8rem);
	--toastContainerZIndex: 50;

	--toastPadding: 0;
	--toastMsgPadding: 0;

	--toastBarBackground: var(--c-white);
	--toastBtnFont: 'Lexend';
}

button:disabled {
	@apply tw-opacity-75;
}

.custom-radio-group {
	--cds-icon-01: var(--c-blue);

	& .bx--radio-button-wrapper {
		@apply tw-mb-2 tw-mr-2;
	}

	& .bx--radio-button-group {
		@apply tw-flex tw-flex-wrap;
	}

	&
		.bx--radio-button:focus
		+ .bx--radio-button__label
		.bx--radio-button__appearance {
		outline: none;
		border-style: dotted;
	}
}

a:link {
	text-decoration: underline;
	text-decoration-color: var(--c-blue);

	&:hover {
		text-decoration: none;
	}
}

.custom-modal {
	@apply tw-p-3;

	&.no-footer {
		& .bx--modal-content {
			@apply tw-m-0 tw-py-3;
		}
	}

	&.min-size {
		& .bx--modal-container {
			@apply tw-h-auto
        tw-min-h-[40vmin]
        laptop:tw-min-h-[15vmin]
        mobile:tw-min-h-[20vmax];
		}
	}

	&.fixed-inline-size {
		& .bx--modal-container {
			@apply tw-max-w-[45vmax];
		}
	}

	& .bx--modal-container {
		@apply tw-static;
	}

	&.fit-size {
		& .bx--modal-container {
			@apply tw-w-[35vmax];
		}
	}
}

.custom-file-uploader {
	& .bx--file__selected-file {
		@apply tw-bg-x11;
	}

	& .bx--btn {
		@apply tw-p-3;
	}

	& .bx--file-container {
		@apply tw-max-h-[200px] tw-overflow-auto;
	}
}

.map-image {
	background: center / cover no-repeat fixed url('/assets/map-template.png');
}

.custom-input {
	@apply tw-p-2
    tw-border-2
    tw-border-transparent;

	&.invalid {
		@apply tw-border-red;
	}
}

.toast {
	& ._toastMsg {
		align-self: stretch;
	}

	&.success {
		& ._toastItem {
			@apply tw-rounded
        tw-bg-green
        tw-text-white;
		}
	}

	&.danger {
		& ._toastItem {
			@apply tw-rounded
        tw-bg-red
        tw-text-white;
		}
	}

	&.default {
		& ._toastItem {
			@apply tw-rounded
        tw-bg-blue
        tw-text-white;
		}
	}
}

.out-in-transition {
	display: grid;

	& > * {
		grid-area: 1/1/ 2/2;
	}
}
